header {
    ul.nav {
            li.btn {
                display: inline;
                float: right;
                margin: 0 15px;
                a {
                  padding:2px 16px;  
                  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FDF9F9;
                  border: 1px solid #e6e6e6;
                  box-sizing: border-box;
                  border-radius: 4px;
                  font-family: Oregano;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 31px;
                    /* identical to box height */
                  display: flex;
                  align-items: center;
                  text-align: center;
                  text-decoration-line: none;
                  color: #757575;
                }
            }
        }
    }