
@media screen and (min-width: 803px) {
  header {
    input#openSidebarMenu[type=checkbox], label.sidebarIconToggle {
      display: none;
  }
  ul.nav {
    display: inline-flex;
  }
}
}
  ul.nav {
    margin: auto 0;
          li.btn {
              display: inline;
              float: right;
              margin: 0 7px;
              a {
                padding:2px 16px;  
                background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FDF9F9;
                border: 1px solid rgba(230, 230, 230, 0.7);
                box-sizing: border-box;
                border-radius: 3px;
                font-family: $menu-font; 
                font-style: normal;
                font-weight: normal;
                font-size: 1.7em;
                line-height: 1.5;
                  /* identical to box height */
                display: flex;
                align-items: center;
                text-align: center;
                text-decoration-line: none;
                color: #757575;
              }
              a:hover, a:active {
                background: linear-gradient(180deg, #00a2b2 0%, rgb(63, 84, 115) 100%),#ffffff;
                color: $white;
                border-color: gainsboro;
              }
          }
      }

  
@media screen and (max-width: 802px) {

  header ul.nav li.btn a {max-width: 87%;}
  header {
    input[type=checkbox] {

    }
  ul.nav {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 82px;
  transform: translateX(-290px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
    li.btn {
        float: none;
        a {
          
        }
      }
    }
  


  input[type="checkbox"]:checked ~ ul.nav {
    transform: translateX(0);
  }

  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 33px;
    right: 33px;
    height: 33px;
    width: 33px;
  }

  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $spinner-bg-color; 
  }

  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
  }

  .diagonal {
    &.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
    }

    &.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 4px;
    }
  }

  input#openSidebarMenu[type=checkbox] {
    &:checked ~ .sidebarIconToggle > {
      .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
      }

      .diagonal {
        &.part-1 {
          transition: all 0.3s;
          box-sizing: border-box;
          transform: rotate(135deg);
          margin-top: 10px;
        }

        &.part-2 {
          transition: all 0.3s;
          box-sizing: border-box;
          transform: rotate(-135deg);
          margin-top: -11px;
        }
      }
    }

    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
}
}